.sign-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .sign-input {
        position: relative;
        padding: 10px 40px 10px 20px;
        border-radius: 10px;
        font-size: 22px;
        line-height: 1;
        font-family: $main-font;
        outline: none;
        border: 3px solid $black-color;
        box-shadow: $black-color 5px 5px 0px;

        cursor: pointer;

        @extend %interactive-transition;

        @media (hover: hover) {
            &:hover {
                transform: scale(1.03);
                box-shadow: $black-color 6px 6px 0px;

                ~ label {
                    transform: scale(1.07);
                }
            }
        }

        &:focus {
            box-shadow: $black-color 3px 3px 0px;
            transform: scale(1.03);

            ~ label {
                transform: translateY(-170%);
                font-size: 19px;
            }
        }

        &:not(:placeholder-shown) {
            ~ label {
                transform: translateY(-170%);
                font-size: 18px;
            }
        }
    }

    label {
        position: absolute;
        left: 20px;
        top: 15px;
        font-family: $main-font;
        pointer-events: none;
        font-size: 24px;

        @extend %interactive-transition;
    }

    .input-banner {
        position: absolute;
        right: 15px;
        top: 16px;

        width: 20px;
        height: 20px;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        transform: scale(0);

        transition: 0.2s ease;
    }

    .valid {
        color: $black-color;

        ~ .input-banner {
            background-image: url('/images/check.svg');
            transform: scale(1);
        }
    }

    .not-valid {
        background-color: white;

        ~ .input-banner {
            background-image: url('/images/x.svg');
            transform: scale(1);
        }
    }

    .shake {
        animation: shake 0.5s ease;
    }

    .password-input {
        letter-spacing: 10px;
    }
}
