@keyframes twinkle {
    0% {
        scale: 1.15;
    }

    50% {
        transform: translateY(-50%);
        scale: 0.85;
    }

    100% {
        transform: translateY(0%);
        scale: 1.15;
    }
}
