// COLORS

$body-color: rgb(215, 152, 66);
$black-color: rgb(4, 6, 6);
$green-color: rgb(6, 214, 160);
$pink-color: rgb(251, 138, 160);
$yellow-green: rgb(173, 255, 47);

// FONTS
$main-font: 'Racama';
