.welcome {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.welcome-pizza {
    position: relative;

    width: clamp(350px, 70vw, 500px);
    height: clamp(450px, 60dvh, 500px);

    @media screen and (max-width: 425px) {
        width: clamp(100px, 70vw, 350px);
        height: clamp(100px, 50dvh, 350px);
    }

    background-image: url('/images/welcome-pizza2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 768px) {
        &::before {
            content: '';

            position: absolute;

            background-image: url('/images/twinkle.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            top: 170px;
            left: 90px;
            width: 20px;
            height: 20px;

            animation: twinkle 5s ease-in infinite;
        }

        &::after {
            content: '';

            position: absolute;

            background-image: url('/images/twinkle.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            top: 280px;
            right: 115px;
            width: 20px;
            height: 20px;

            animation: twinkle 5s ease-in infinite;
        }
    }
}

.welcome-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
