@import '../../assets/styles/colors.scss';
@import '../../assets/styles/fonts.scss';

.password-input-wrapper {
    position: relative;
    width: 307px;

    .password-input {
        box-sizing: border-box;
        display: block;
        padding: 10px 40px 10px 20px;
        border: 3px solid $border-color;
        width: 100%;
        box-shadow: $shadow-color 5px 5px 0px;
        border-radius: 10px;

        font-family: $main-font;
        font-size: 22px;
        line-height: 1;

        outline: none;

        cursor: pointer;

        transition: 0.5s ease-in-out;

        @media (hover: hover) {
            &:hover {
                transform: scale(1.03);
                box-shadow: $shadow-color 6px 6px 0px;

                ~ label {
                    transform: scale(1.07);
                }
            }
        }

        &:focus {
            transform: scale(1.03);
            box-shadow: $shadow-color 3px 3px 0px;

            ~ label {
                transform: translateY(-150%);
                font-size: 18px;
            }
        }

        &:not(:placeholder-shown) {
            ~ label {
                transform: translateY(-170%);
                font-size: 18px;
            }
        }
    }

    label {
        position: absolute;

        left: 20px;
        top: 11px;

        font-family: $main-font;
        font-size: 24px;

        pointer-events: none;

        transition: 0.5s ease-in-out;
    }
}
