.link-button-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    font-family: $main-font;
    color: $black-color;
    font-size: 14px;

    .link-button {
        text-decoration-line: underline;
        text-decoration-style: dotted;

        cursor: pointer;
    }
}
