// COLORS

$body-color: rgb(215, 152, 66);

$font-color: rgb(4, 6, 6);
$shadow-color: rgb(4, 6, 6);
$border-color: rgb(4, 6, 6);
$accent-color-primary: rgb(251, 138, 160);
$accent-color-secondary: rgb(173, 255, 47);
$red-color: rgb(228, 91, 60);
